<EditForm Model="genero" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/> @*Forzar las validaciones [Required]*@
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@genero.Nombre"/>
            <ValidationMessage For="@(() => genero.Nombre)"/>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Crear</button>
</EditForm>

@code {
    [Parameter] public Genero genero { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
