@page "/counter"
@using MathNet.Numerics.Statistics;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    public async Task IncrementCount()
    {
        var arreglo = new double[] { 1, 2, 3, 4, 5 };
        var mini = arreglo.Maximum();
        var maxi = arreglo.Minimum();
        Console.WriteLine(mini.ToString()+"-"+ maxi.ToString());
        currentCount++;
    }
}
 