@page "/"
@inject IRepositorio repo
<div>
    <h1>Hello, @stringOpc.toMayus("Peliculas")</h1>
    <VerPeliculas listaPeliculas="Peliculas"/>
</div>

@code{

    private List<Pelicula> Peliculas;
    protected override void OnInitialized()
    {
        Peliculas = repo.ObtenerPeliculas();
    }

    
}